

.full-height {
    height: 100%; /* Assure que les divs prennent toute la hauteur */
}

.bg-secondary {
    height: 100%; /* Assure que le background occupe toute la hauteur */
}

img {
    width: 100%; /* L'image occupe toute la largeur du conteneur */
    height: 100%; /* L'image occupe toute la hauteur du conteneur */
    object-fit: cover; /* Ajuste l'image pour remplir sans distorsion */
}

