.custom-skill-list {
  list-style-type: none; /* Retirer les puces des listes */
  padding: 0;
}

.custom-skill-list li {
  display: flex; /* Utiliser Flexbox pour aligner les éléments horizontalement */
  align-items: center; /* Aligner verticalement au centre */
  margin-bottom: 20px; /* Espacement entre les éléments */
  background-color: #f8f9fa; /* Fond clair pour chaque élément */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.custom-skill-list li i {
  margin-right: 10px; /* Espacement entre l'icône et le texte */
  color: #ff3c00; /* Couleur des icônes */
}

.custom-skill-list li span {
  padding: 10px;
}

/* Conserve les styles de Bootstrap pour la barre de progression */
.custom-skill-list li .progress {
  flex: 2; /* Prendre plus d'espace pour la barre */
  height: 20px; /* Hauteur de la barre de progression */
}

.custom-skill-list li .progress-bar {
  background-color: #007bff; /* Couleur de la barre de progression */
}

/* pour changer la hauteur de l image du carousel haha! */

.carousel-inner {
  height: 80vh;
  width: 99vw;

}

.bi {
  font-size: 15px; /* Ajuste la taille selon tes besoins */
}
